<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авиакомпания</title>
</head>
<body>
<p th:text="${company.getCompanyId()}">VALUE</p>
<p th:text="${company.getName()}">VALUE</p>

<form th:action="@{/company/update/{id}(id=${company.getCompanyId()})}" method="get">
    <button type="submit">Редактировать</button>
</form>
<form th:action="@{/company/delete/{id}(id=${company.getCompanyId()})}" method="post">
    <button type="submit">Удалить</button>
</form>
<br/>
<hr/>
<h3>Таблицы:</h3>
<a href="/spring-mvc-hibernate/flight">Рейсы</a> <br/>
<a href="/spring-mvc-hibernate/user">Пользователи</a><br/>
<a href="/spring-mvc-hibernate/flight/userflights">Many-to-many (Рейсы, Пользователи)</a><br/>
<a href="/spring-mvc-hibernate/company">Авиакомпании</a><br/>
<a href="/spring-mvc-hibernate/airportcodes">Коды аэропортов</a><br/>
</body>
</html>